@charset "UTF-8";

#insidious_mapMenuArea {
    max-width: 500px;

    padding: 5px 5px 5px 5px;
    margin-bottom: 15px;
}

#insidious_mapActionArea {
    overflow-x: hidden;
    overflow-wrap: break-word;
    padding-top: 10px;
    padding-bottom: 10px;
}

.insidious_mapActionArea_coords {
    margin-right: 5px;
}